<div class='row justify-content-center'>
  <div class='col-auto text-center'>
    <h2>{{name}}'s {{recipe.name}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    {{> recipeList }}
  </div>

  <div class='col-md-6'>

    {{!-- <h3>{{recipe.name}}</h3> --}}
    <br>
    <h4>Ingredients</h4>
    <ul>
        {{#each recipe.ingredients as |ingredient|}}
        <li>{{ingredient.recipe_ingredient.amount}} {{ingredient.recipe_ingredient.unit}} {{ingredient.name}}</li>
        {{/each}}
    </ul>
    <h4>Steps</h4>
    <ol>
    {{#each recipe.steps as |step|}}
        <li>{{step.step}}</li>
    {{/each}}
    </ol>

  </div>
</div>