
<div class='row'>
  <div class='container' id="background-font">
    <h4 style="text-align: center;">{{name}}'s {{recipe.name}} Recipe</h4>

  </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
      <div class="container">
      {{> recipeList }}
    </div>
  </div>
    <div class='col-md-6 d-flex flex-column justify-content-center align-items-center align-items-md-start' id="background-font">
    
      {{!-- <h3>{{recipe.name}}</h3> --}}
      <br>
      <h4>Ingredients</h4>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="metricCheckbox" name="metricCheckbox">
        <label class="form-check-label" for="metricCheckbox">Metric</label>
    </div>
    <ul>
        {{#each recipe.ingredients as |ingredient|}}
        <li class="ingredient-metric none">{{convert_units ingredient.recipe_ingredient.amount ingredient.recipe_ingredient.unit}} {{ingredient.name}}</li>
        <li class="ingredient-imperial">{{ingredient.recipe_ingredient.amount}} {{ingredient.recipe_ingredient.unit}} {{ingredient.name}}</li>
        {{/each}}
    </ul>
    <h4>Steps</h4>
    <ol>
      {{#each recipe.steps as |step|}}
      <li>{{step.step}}</li>
      {{/each}}
    </ol>

</div>

<script src="../js/recipe-display.js"></script>

