
<div class='row'>
  <div class='container' id="background-font">
    <h4 style="text-align: center;">{{name}}'s {{recipe.name}} Recipe</h4>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{> recipeList }}
  </div>
< class="col-md-6"> 
    <div class='row mt-4' id="background-font">
      <div>
      {{!-- <h3>{{recipe.name}}</h3> --}}
      <br>
      <h4>Ingredients</h4>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="metricCheckbox" name="metricCheckbox">
        <label class="form-check-label" for="metricCheckbox">Metric</label>
    </div>
    <ul>
          {{#each recipe.ingredients as |ingredient|}}
          {{#if checkbox_checked }}
        <li class="ingredient">{{convert_units ingredient.recipe_ingredient.amount ingredient.recipe_ingredient.unit}} {{ingredient.name}}</li>
        {{else}}
        <li class="ingredient">{{ingredient.recipe_ingredient.amount}} {{ingredient.recipe_ingredient.unit}} {{ingredient.name}}</li>
          {{/if}}
        {{/each}}
      </ul>
      <h4>Steps</h4>
      <ol>
        {{#each recipe.steps as |step|}}
        <li>{{step.step}}</li>
        {{/each}}
      </ol>

  </div>

</div>
{{!-- <script>
    const checkboxChecked = document.getElementById('metricCheckbox');
    console.log(checkboxChecked);
</script> --}}
<script src="../js/recipe-display-metric.js"></script>

